.navbar {
    padding: 2rem!important;
    display: flex!important;
    flex-direction: column!important;

    
}

.body-container {
    background-color: rgb(176, 206, 233);
    background-image: url(../assets/bg-texture.png);
}

#productos {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    gap: 2rem;  
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.producto {
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
}